.heading{
   color: aqua;
}
.img-css{
    width: 250px;
}
.user-card{
    width: 250px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px 1px #ddd;
    margin: 6px;
}
.text-wrap{
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}